body {
    font-family: 'Tahoma', sans-serif;
    direction: rtl;
}

.progress {
    border-radius: 15px;
    overflow: hidden;
}

.progress-bar {
    font-weight: bold;
    font-size: 1rem;
    border-radius: 15px;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.navbar {
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.carousel-item {
    height: 70vh;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    scroll-margin-top: 80px; /* برای اسکرول نرم با navbar fixed */
}
